.calendar {
  min-width: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  position: relative;
}

.row {
  display: flex;
  position: relative;
  color: #bdbdbd;
}

.gutter {
  text-align: right;
}

.eventcolumn {
  flex-grow: 1;
}

.hr {
  border-color: #e9e9e9;
  border-width: 0 0 1px 0;
}

.event {
  position: absolute;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgba(200, 225, 244, .8);
  color: #217eb1;
}
